<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/Research' | relative_url }}">Research</a></li>
                <li><a href="{{ '/Projects' | relative_url }}">Projects</a></li>
                <li><a href="{{ '/Teaching' | relative_url }}">Teaching Experience</a></li>
                <li><a href="{{ '/CV' | relative_url }}">CV</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html>
